<div>
    <a href="/datos/list">Listado de datos</a>
</div>
<div class="container"> 
    <form>
        <div class="form-group">
            <h2>
            <label for="indicador">Indicador</label>
            <input type="text" class="form-control" id="indicador" name="indicador" placeholder="Indicador" required>
            </h2><hr>
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id" placeholder="ID" required>
            <div id="camposContainer"></div>
            <br>
            <button type="button" class="btn btn-primary" id="agregarCampo"><i class="fa fa-plus"></i> Añadir nuevo campo</button><br>
        </div>
    </form>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <br>
                <div id="container" style="height: 600px; border: 1px solid grey"></div>
                <button type="button" class="btn btn-primary" id="saveButton">Guardar cambios</button>
            </div>
        </div>
    </div>

</div>

<!-- OR ANY OTHER AMD LOADER HERE INSTEAD OF loader.js -->
<script src="/public/js/monaco-editor/min/vs/loader.js"></script>

<script>
	require.config({ paths: { vs: '/public/js/monaco-editor/min/vs' } });
	require(['vs/editor/editor.main'], function () {
		var editor = monaco.editor.create(document.getElementById('container'), {
			language: 'json'
		});
        var datos = {};
		$("#saveButton").click(function () {
            datos['id'] = $('#id').val();
            datos['indicador'] = $('#indicador').val();
            
            var camposContainer = document.getElementById('camposContainer');
            var nuevosCamposDivs = camposContainer.querySelectorAll('.form-control');

            nuevosCamposDivs.forEach(function(fieldInput) {
                var labelValue = fieldInput ? fieldInput.id : '';
                var campoValue = fieldInput ? fieldInput.value : '';
                
                datos[labelValue] = campoValue
            });

            datos['data'] = JSON.parse(editor.getValue().replace(/(\r\n|\n|\r)/gm, ""));

			$.ajax({
				url: '/datos',
				type: 'POST',
				data: datos,
                data: JSON.stringify(datos),
                contentType: 'application/json',
				success: function (data) {
                    console.log(datos);
                    if (data.success) {
                        alert(data.message);
                        $('#saveButton').prop('disabled', true);
                        window.location.href = '/datos/list';
                    } else {
                        console.error('Error al crear los datos:', data.error);
                        alert('Error al crear los datos: ' + data.error);
                    }
				},
				error: function (error) {
					console.error('Error al crear los datos:', error);
                    alert('Error al crear los datos: ' + error.responseJSON.error);
				},
			});
			
		});
		$('#indicador').change(function(){
			$('#saveButton').prop('disabled', false)
		});
	});
</script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var agregarCampo = document.getElementById('agregarCampo');
        var camposContainer = document.getElementById('camposContainer');
        var guardar = document.getElementById('saveButton');
        var id = $('#id').val();
        console.log("Valor del id: " + id);

        function agregarNuevoCampo() {
            let label = prompt('Introduce el nombre del nuevo campo');

            var nuevoDiv = document.createElement('div');
            nuevoDiv.className = 'form-group';
            
            var iconoPapelera = document.createElement('i');
            iconoPapelera.className = 'fas fa-trash';
            iconoPapelera.style.cursor = 'pointer';
            
            var nuevoLabel = document.createElement('label');
            nuevoLabel.for = label;
            nuevoLabel.innerHTML = label;

            var nuevoCampo = document.createElement('input');
            nuevoCampo.type = 'text';
            nuevoCampo.className = 'form-control';
            nuevoCampo.id = label;
            nuevoCampo.placeholder = 'Inserte aquí los datos';

            nuevoDiv.appendChild(iconoPapelera);
            nuevoDiv.appendChild(nuevoLabel);
            nuevoDiv.appendChild(nuevoCampo);
            camposContainer.appendChild(nuevoDiv);

            iconoPapelera.addEventListener('click', function() {
                camposContainer.removeChild(nuevoDiv);
            });
        }

        agregarCampo.addEventListener('click', agregarNuevoCampo);
    }); 
</script>