
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .left {
    left: 0;
    background-color: white;
  }
  
  .right {
    right: 0;
    background-color: white;
  }

  .centered {
    margin-left: 10%;
  }
  
  .centered1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

/*CSS final*/

  body {
    margin: 0;
  }
  
  .legend {
    background-color: 'white';
  }
  
  .tableFixHead {
    overflow: auto;
    height: 300px;
  }
  
  .tableFixHead thead th {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th,
  td {
    padding: 8px 16px;
  }
  
  th {
    background: #eee;
  }
  
  /*Para destacar los sectores e indicadores de la lista*/
  .selected {
    background: aqua;
  }
  
  .legend {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
  }
  
  /*Para destacar los sectores en el mapa*/
  path.sector.selectedPath {
    stroke-width: 2;
    stroke: aqua;
  }
  
  path.zona.selectedPath {
    stroke-width: 2;
    stroke: aqua;
  }
  
  
  #lista {
    overflow:auto;
  }
  
  svg.legend.item {
    background-color: aqua;
  }