{{>header}}
<div class="row mt-5 justify-content-center">
    <div class="col-sm-6">
        <h1>Lista de scripts</h1>
        <hr>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                </tr>
            </thead>
            <tbody>
                {{#each items}}
                <tr>
                    {{#with this}}
                    <td><a href="/script/editor/{{name}}" class="text-decoration-none">{{name}}</a></td>
                    <td>{{description}}</td>
                    {{/with}}
                </tr>
                {{/each}}
            </tbody>
        </table>

    </div>
</div>
