  <div class="main-section">
    <div class="container">
      <main role="main">
        <section class="content">
          <div class="entry-content-wrapper">
            <div class="heading">
              <h1 class="me-3">Atlas</h1>
              <span class="logo avia-standard-logo">
                <a href="">
                  <img src="/images/Ciencia-de-datos-y-VPM.png" alt="AtlasVPM">
                </a>
              </span>
            </div>
            <div class="special-heading-border"></div>
          </div>
        </section>
      </main>
    </div>
  </div>