<div>
    <table>
        <tr>
            <td>Customer Id :</td>
            <td>
                <form name="submitform" method="post">
                    <input type="text" id="customerId" name="customerId" />
                    <input type="submit" value="Submit">
                </form>
            </td>
        </tr>
    </table>
</div>