
			<h1 class="page-title">BIGAN Gesti&oacute;n Cl&iacute;nica - datos al servicio de las personas</h1>
  		 
  		 	
			<div class="row">
				<div class="col-lg-12 des-header">
							
					<div class="row"  style="background-color: #DEE;margin: 10px;">
						<div class="col-lg-4">
							
						</div>			
						<div class="col-lg-4">
							
						</div>			
						<div class="col-lg-4">
							
						</div>			
					</div>					
				</div>
			</div>			
			<div class="row height100">
				<div class="col-lg-6 des-frame">
					<div class="panel panel-default ">
												<!-- panel body --> 
					<div class="panel-body"  style="display:grid;align-content:center;"> 
						<div style="background-color:white;">


<style>
p {
	font-size:14pt;
	text-align:justify;
}

.indice {
	font-size:14pt;
}
</style>



<p><span>&nbsp;</span></p>


<p>Bienvenido a BIGAN Gestión Clínica.</p>

<p>
BIGAN Gestión Clínica es una herramienta para facilitar a todos los profesionales sanitarios el acceso a la información 
de su práctica clínica a través del seguimiento periódico de un conjunto de indicadores de situación, estructura, proceso y 
resultados establecidos de acuerdo con los contratos de gestión de las unidades de gestión clínica, 
los planes de mejora de la calidad de la asistencia sanitaria y las estrategias de salud de Aragón. 
</p><p>
Navegando por el menú de la izquierda podrás obtener información actualizada al último mes disponible sobre el resultado 
de los principales indicadores en tu cupo de referencia (médico/enfermera de AP), zona básica de salud, hospital o área sanitaria
 y para toda la Comunidad Autónoma de Aragón.
</p><p>
Podrás ver cómo van evolucionando tus indicadores y compararlos con la evolución de tu equipo de atención primaria u hospital; 
tu sector o todo Aragón; identificar tendencias y áreas de mejora o cuestiones a abordar desde la práctica clínica para la mejora
de la calidad de la asistencia sanitaria.  
</p><p>
En este momento puedes visualizar una muestra de más de 60 indicadores, seleccionados del conjunto de indicadores habitualmente medidos por el Sistema de Salud de Aragón, manteniendo las definiciones que se venían utilizando, con el objeto de mantener la familiaridad y consistencia con la información tal y como se manejaba hasta ahora. 
</p><p>

BIGAN Gestión clínica aspira a ser el lugar de referencia para el seguimiento de la gestión clínica y sanitaria del Sistema Aragonés de Salud. Para lograrlo, se ha perfilado el nivel de detalle de la información a la que se accede según el nivel de responsabilidad del usuario dentro del sistema, desde un/a profesional sanitario/a de atención primaria o un servicio hospitalario hasta la gerencia del SALUD o el Director General de Asistencia Sanitaria.
</p><p>

BIGAN Gestión clínica está al servicio de los profesionales sanitarios de Aragón para ofrecer información puntual y sistemática que ayude a la organización, planificación y gestión clínica de la asistencia sanitaria en todos los niveles asistenciales, por lo que la evolución de la herramienta depende de vosotros. 
</p><p>

Podéis enviar vuestros comentarios, incidencias y sugerencias a través de la propia herramienta (icono de correo en la esquina superior derecha de la pantalla) o directamente al correo electrónico bigan.iacs@aragon.es
</p><p>

<b>
BIGAN es un proyecto de la Consejería de Sanidad del Gobierno de Aragón, desarrollado por el Instituto Aragonés de Ciencias de la Salud (IACS). 
</b>
<p><span>&nbsp;</span></p>



</div>

					</div> 




					</div>
				</div>
				<div class="col-lg-6 des-frame">
					<div class="panel panel-default ">
												<!-- panel body --> 
        			<!--<img src='static.action?src=/img/BIG-DATA-SALUD.jpg' style="border:0;overflow: hidden;" onload="resizeIframe(this)" width="100%"/>-->
					<!-- panel body --> 
					<div class="panel-body"  style="display:grid;align-content:center;"> 
						<div style="background-color:white;">

<h2 id = "Q5">¿Qué puedes encontrar en BIGAN Gestión Clínica?</h2>

<ul class="indice">
<li>Situación</li>
<li>Casuística</li>
<li>Resultados</li>
<li>Farmacia</li>
<li>Uso Racional de Recursos</li>
<li>Recomendaciones de No Hacer</li>
<li>Estrategias</li>
<li>BIGAN Labs</li>

</ul>


</div>

					</div> 




					</div>
				</div>
			</div>
			
<script>
	$('.hidable').on('dblclick', function(e) {
		if ($(this).hasClass("col-lg-4")) {
			$('.hidable').hide();
			$(this).removeClass("col-lg-4");
			$(this).addClass("col-lg-12");
			$(this).show();
		} else {
			$(this).removeClass("col-lg-12");
			$(this).addClass("col-lg-4");
			$('.hidable').show();
		}
	});
</script>					


			
			
			<!-- Footer -->
  		 	
  		 	
  		 	
  		 	<!-- /footer -->
		
	  </div>
	  <!-- /main content -->
	  
  </div>
  <!-- /main container -->