<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{{titulo}}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <link rel="stylesheet" type="text/css" href="./css/style.css" />

    <script src="./scripts/jquery-3.6.1.min.js"></script>
    <script src="./scripts/handlebars-v4.7.7.js"></script>
    <script src="./scripts/funcionesHandlebars.js"></script>
    <script src="./scripts/renderizadoDatos.js"></script>
</head>

<body>
    {{{body}}}
    <div>
        {{{opciones}}}
    </div>

</body>


</html>