    <div class="row mt-5 justify-content-around">
  
        <div class="col-sm-6">
            <h1>Lista de templates</h1>
            <hr>

        <table>
            <thead>
                <th>code</th>
            </thead>
            <tbody>
                {{#each items}}
                    <tr>
                        {{#with this}}
                        <td><a href="/template/editor/{{name}}">{{name}}</a></td><td>{{description}}</td>
                        {{/with}}
                    </tr>
                {{/each}}
            </tbody>
        </table>

        </div>
    </div>