<h2>
    <form>
		<div class="form-group">
			<label for="name">Nombre</label>
			<input type="text" class="form-control" id="name" placeholder="Nombre">
		</div>
	</form>
</h2>

<form>
  <div class="form-group">
    <label for="description">Descripción</label>
    <input type="text" class="form-control" id="description" placeholder="Descripcion">
  </div>
</form>

<div class="container-fluid">
	<div class="row">
		<div class="col-8">
			<div id="container" style="height: 600px; border: 1px solid grey"></div>
			<button id="saveButton" type="button" class="btn btn-primary" disabled>Guardar</button>
		</div>
		<div class="col-4">
			<div id="view" style="width: 100%; height: 600px; border: 1px solid grey"></div>
		</div>
	</div>
</div>
<div>
	<a href="/template/list">Listado de plantillas</a>
</div>

<!-- OR ANY OTHER AMD LOADER HERE INSTEAD OF loader.js -->
<script src="/public/js/monaco-editor/min/vs/loader.js"></script>
<script>
	require.config({ paths: { vs: '/public/js/monaco-editor/min/vs' } });
	require(['vs/editor/editor.main'], function () {
		var editor = monaco.editor.create(document.getElementById('container'), {
			language: 'html'
		});
		var template = {
			name: '',
			description: '',
			content: '',
		};
		$("#saveButton").click(function () {
			template.name = $('#name').val();
			template.description = $('#description').val();
			template.content = editor.getValue();

			$.ajax({
				url: '/template/add',
				type: 'POST',
				data: template,
				success: function (data) {
					alert('Plantilla grabada correctamente');
					$('#saveButton').prop('disabled', true);
					window.location.href = '/template/list';
				},
				error: function (error) {
					console.error('Error al crear la plantilla:', error);
				},
			});
			
		});
		$('#description').change(function(){
			$('#saveButton').prop('disabled', false)
		});
	});
</script>