<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <div class="row mt-5 justify-content-around">
  
        <div class="col-sm-6">
            <h1>Lista de templates</h1>
            <hr>

        <table>
            <thead>
                <th>code</th>
            </thead>
            <tbody>
                {{#each items}}
                    <tr>
                        {{#with this}}
                        <td><a href="/template/delete/{{name}}"><i class='bx bxs-trash'></i></a></td>
                        <td><a href="/template/editor/{{name}}">{{name}}</a></td><td>{{description}}</td>
                        {{/with}}
                    </tr>
                {{/each}}
            </tbody>
        </table>
        <br>
        <a href="/template/add"><i class='bx bx-plus-medical'></i> Añadir template</a>
        </div>
    </div>