<div class="container d-flex align-items-center justify-content-center min-vh-100">
  <div class="row text-center">
    <div class="col-12">
      <img
        src="https://cdn-icons-png.flaticon.com/512/179/179386.png"
        alt="Bad Request"
        class="img-fluid mb-4"
        style="max-width: 150px;"
      />

      <h1 class="display-4 text-warning mb-3">400 - Solicitud incorrecta</h1>
      <p class="lead mb-4">
        Lo sentimos, parece que tu solicitud fue mal formulada o faltan algunos datos necesarios.
      </p>

      <a href="/" class="btn btn-primary px-4">
        <i class="fas fa-home me-2"></i>Volver al inicio
      </a>
    </div>
  </div>
</div>
