    <div class="row mt-5 justify-content-around">
  
        <div class="col-sm-6">
            <h1>Login Usuario</h1>
            <hr>

            <form action="/auth/creador-dashboards" method="post" class="d-grid" autocomplete="on">
                <input type="text" name="username" class="form-control mb-2" placeholder="Name" />
                <input type="text" name="password" class="form-control mb-2" placeholder="Password" />
    
                <button id="login" type="submit" class="btn btn-primary">
                    Ingresar
                </button>
            </form>

        </div>
    </div>
    

