    <div class="row mt-5 justify-content-around">
  
        <div class="col-sm-6">
            <h1>Menú principal</h1>
            <hr>
            <ul>
                <li>Templates</li>
                <li>Scripts</li>
                <li>Widgets</li>
                <li>Dashboards</li>
                <li>Datos</li>
            </ul>
        </div>
    </div>