    <div class="row mt-5">
  
        <div class="col-sm-6">
            <h1>Login manual</h1>
            <hr>

            <form action="/auth/login" method="post" class="d-grid">
                <input type="text" name="username" class="form-control mb-2" placeholder="Name" />
                <input type="text" name="password" class="form-control mb-2" placeholder="Password" />
    
                <button type="submit" class="btn btn-primary">
                    Ingresar
                </button>
            </form>

        </div>
    </div>

    


    <script src="./scripts/cargarPortal.js"></script>