    <div class="row mt-5 justify-content-around">
  
        <div class="col-sm-6">
            <h1>Menú principal</h1>
            <hr>
            <ul>
                <li><a href="/template/list">Templates</a></li>
                <li><a href="/script/list">Scripts</a></li>
                <li><a href="/widget/list">Widgets</a></li>
                <li><a href="/dashboard/list">Dashboards</a></li>
                <li><a href="/data/list">Datos</a></li>
            </ul>
        </div>
    </div>