{{>header}}
<div class="row mt-5 justify-content-center">
  <div class="col-sm-8">
    <h1>Lista de páginas y paneles</h1>
    <hr>

    <table class="table table-bordered table-striped align-middle">
      <thead>
        <tr>
          <th>Identificador</th>
          <th>Título</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each items}}
          <tr>
            {{#with this}}
              <td><a href="/dashboard/editor/{{id_dashboard}}" class="text-decoration-none">{{id_dashboard}}</a></td>
              <td>{{code}}</td>
              <td>
                <button onclick="nuevoNombreDash('{{id_dashboard}}')" class="btn btn-primary btn-sm">
                  Duplicar
                </button>
              </td>
            {{/with}}
          </tr>
        {{/each}}
      </tbody>
    </table>
    
  </div>
</div>


<script>

    function nuevoNombreDash(dashboardName){
        var nuevoNombre = prompt("Por favor, ingrese el nuevo nombre del dashboard:", "");
        if (nuevoNombre != null && nuevoNombre != "") {
            var descripcion = prompt("Por favor, ingrese la nueva descripcion del dashboard:", "");
            if(descripcion != null && descripcion != ""){
                duplicateDashboard(dashboardName, nuevoNombre, descripcion); 
            }else{
                alert("No se permiten descripciones vacias");
            }
            
        }else{
            alert("No se permiten nombres vacios");
        }
        
    }

    function duplicateDashboard(dashboardName, nuevoNombre, descripcion) {
        $.post(`/dashboard/duplicate/${dashboardName}`, { nuevoNombre: nuevoNombre, descripcion:descripcion }, function(response) {
            alert('Dashboard duplicado con éxito.');
            window.location.reload();
        }).fail(function() {
            alert('Error al duplicar el dashboard.');
        });
    }
</script>