<!-- Modal window guardar dash-->
<div class="modal fade" id="modalWindowCrearDash" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="windowGuardarLabel">Guardar dashboard</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="inputID">ID: <input type="text" class="form-control" id="inputID" /></label>
          </div>
          <div class="form-group">
            <label for="inputNombre">Nombre: <input type="text" class="form-control" id="inputNombre" /></label>
          </div>
        </form><br>
        <div class="alert alert-danger" role="alert" id="error">
          <i class="fa-solid fa-triangle-exclamation"></i> 

        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary" id="aceptarGuardarDash">Aceptar</button>
        <button type="button" class="btn btn-primary" id="cancelarGuardarDash">Cancelar</button>
      </div>
    </div>
  </div>
</div>