    <!--Modal window eliminar dash-->
    <div class="modal fade" id="modalWindowEliminarDash" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Eliminar dashboard</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">
                    ¿Desea eliminar el dashboard de la base de datos?
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-primary" id="aceptarEliminarDash"
                        data-bs-dismiss="modal">Aceptar</button>
                    <button type="button" class="btn btn-secondary" id="cancelarEliminarDash"
                        data-bs-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>