    <div class="input-group">
      <div class="input-group-prepend">
        <label class="input-group-text" for="scriptSelect">Script</label>
      </div>
      <select class="custom-select" id="scriptSelect">
        <option selected value="">Sin script...</option>
        {{#each scripts}}
        <option value="{{name}}">{{description}}</option>
        {{/each}}
      </select>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#scriptView" onclick="getScript()">Ver script</button>
      <button type="button" class="btn btn-primary" onclick="editScript()">Editar script</button>
    </div>


    <!-- modal for view template -->
<div class="modal fade" id="scriptView" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="scriptViewHeader"></h5>
        <button type="button" class="close" onclick="$('#scriptView').modal('hide');" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="scriptViewText">
      </div>
    </div>
  </div>
</div>

<script>
   function getScript() {
    script = $("#scriptSelect").val()
    if(script) {
        $.get('/script/item/' + script,
			function( data ) {
				$('#scriptViewText').html(data.content);
				$('#scriptViewHeader').html(data.name);
        })
    }
  }

  function editScript() {
    script = $("#scriptSelect").val()
    if(script) {
        document.location.href='/script/editor/' + script
    }
  }
</script>