<div>
	<a href="/widget/list">Listado de widgets</a>
</div>

<div class="container">

<h1>Editor de widgets</h1>
<form>
  <div class="form-group">
    <label for="name">Nombre</label>
    <input type="text" class="form-control" id="name" placeholder="Nombre" value="{{widget.name}}">
    <label for="description">Descripción</label>
    <input type="text" class="form-control" id="description" placeholder="Descripcion" value="{{widget.description}}">

    {{> templateSelect }}

    {{> scriptSelect }}

	<button id="saveButton" type="button" class="btn btn-primary">Guardar</button>

  </div>
</form>

</div>



<script>
  $('#templateSelect').val("{{widget.template}}");
  $('#scriptSelect').val("{{widget.js}}");
  $('#saveButton').click(function(){
    data={
      name: $('#name').val(),
      template: $('#templateSelect').val(),
      description: $('#description').val(),
      js: $('#scriptSelect').val()
    };
    console.log(data);
    $.ajax({
      url: '/widget',
      type: 'PUT',
      data: data,
      success: function(data) {
        alert('Widget grabado correctamente');
      }
    });
  });
</script>