

<div class="container">

<form>
  <div class="form-group">
    <label for="type">Nombre</label>
    <input type="text" class="form-control" id="type" placeholder="Nombre" value="{{widget.type}}">
    <label for="description">Descripción</label>
    <input type="text" class="form-control" id="description" placeholder="Descripcion" value="{{widget.description}}">


    <label for="template">Plantilla</label>
    <input type="text" class="form-control" id="template" placeholder="Plantilla" value="{{widget.template}}">
    <label for="js">Script</label>
    <input type="text" class="form-control" id="js" placeholder="Script" value="{{widget.js}}">

	<button id="saveButton" type="button" class="btn btn-primary">Guardar</button>

  </div>
</form>

</div>

<div>
	<a href="/widget/list">Listado de widgets</a>
</div>


<script>
</script>