<div class="row mt-5">

    <div class="col-sm-6">
        <h1>Login manual</h1>
        <hr>

        <form action="/profile" method="get" class="d-grid">
            <button type="submit" class="btn btn-primary">
                WhoIam
            </button>
        </form>

    </div>
</div>