<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Formulario</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <link rel="stylesheet" type="text/css" href="../public/css/style.css" />
</head>

<body>
    <div>
        <form action="http://localhost:3000/auth/login" method="post">
            <div>
                <label for="username"> Nombre usuario </label>
                <input name="username" id="username" />
            </div>
            <div>
                <label for="password"> Password </label>
                <input name="password" id="password" />
            </div>
            <div>
                <button> Log in </button>
            </div>
        </form>

    </div>
</body>


</html>