
<div class="card card-body p-5 mt-4">
  <h1 class="display-4">Gaticos</h1>
  <p class="lead">En esta web se visualizaran los gatos que usted elija.</p>
  <hr class="my-4" />
  </br>
  <div>
    <a
      class="btn btn-primary btn-lg"
      href="/templates"
      role="button"
    >{{{mensaje}}}</a>
  </div>
  
</div>